<!-- ------------------------------ html ------------------------------ -->

<html>

	<!-- ------------------------------ header ------------------------------ -->

	<div class="header-container" style="background-color: var(--white);">
		<div class="header-logo title">
			<a href="/"><span class="header-logo-plus">+</span>A</a> → <a href="/account">ACCOUNT</a>
			<br>
			<a href="/"><span class="header-logo-s">S</span></a>
		</div>
		<div class="header-menu-button" id="menu-button">+ MENU</div>
	</div>

	<!-- ------------------------------ main content ------------------------------ -->

	<div style="background-color: var(--mid-grey);">
		<div class="gap-tiny"></div>
		<div class="grid-container">
			<div class="grid-item">
				<div class="grid-paragraph paragraph scroll-fade-in">
					RESET PASSWORD
					<div class="gap-form"></div>
					Enter a new password for your account.
					<div class="gap-form"></div>
					{% form 'reset_customer_password' %}
						{% if form.errors %}
							<span class="paragraph" style="color: var(--orange)"> {{ form.errors | default_errors }}</span>
							<div class="gap-form"></div>
						{% endif %}
						<div>
							<input
								class="account-input" 
								type="password"
								name="customer[password]"
								placeholder="Password*"
							>
						</div>
						<div class="gap-form"></div>
						<div>
							<input
								class="account-input" 
								type="password"
								name="customer[password_confirmation]"
								placeholder="Confirm Password*"
							>
						</div>
						<div class="gap-form"></div>
						<div class="paragraph"><button type="submit">→ SUBMIT</button></div>
						<div class="paragraph"><a href="/account/login/">← BACK</a></div>
					{%- endform -%}
				</div>
			</div>
		</div>
		<div class="gap-desktop"></div>
	</div>
</html>