<html>

	<title>STUDIO ← SLATE + ASH</title>

	<!-- ------------------------------ header ------------------------------ -->

	<div class="header-container" style="background-color: var(--white);">
		<div class="header-logo title">
			<a href="/"><span class="header-logo-plus">+</span>A</a> → STUDIO
			<br>
			<a href="/"><span class="header-logo-s">S</span></a>
		</div>
		<div class="header-menu-button" id="menu-button">+ MENU</div>
	</div>

	<!-- ------------------------------ main content ------------------------------ -->

	<div style="background-color: var(--mid-grey);">

		<!-- ------------------------------ image ------------------------------ -->

		<img class="feature-image scroll-fade-in" src="https://cdn.shopify.com/s/files/1/0029/7785/7602/files/studio.jpg?v=1683026202">
		<div class="gap"></div>

		<!-- ------------------------------ description ------------------------------ -->

		<div class="grid-container">
			<div class="grid-item">
				<div class="grid-paragraph paragraph scroll-fade-in">
					Slate + Ash is the Bristol-based sound design studio of Simon Ashdown, Will Slater, and James Worster. Founded in 2018, they create bespoke and retail sample instruments with a focus on the creative processing of acoustic and electronic source material. Their background of collaboration with some of the world’s leading film composers combined with their idiosyncratic and experimental approach to sound processing delivers instruments suited to a huge range of audio production purposes.
				</div>
			</div>
		</div>
		<div class="gap-desktop"></div>	
		<div class="grid-container">
			<div class="grid-item">
				<div class="grid-paragraph paragraph scroll-fade-in">
					SLATE + ASH
					<br>77 Stokes Croft
					<br>Bristol
					<br>BS1 3PR
					<br><br>Enquiries
					<br><a href="mailto:info@slateandash.com" style="color: var(--white)">info@slateandash.com</a>
					<br><br>Support
					<br><a href="mailto:support@slateandash.com" style="color: var(--white)">support@slateandash.com</a>
				</div>
			</div>
		</div>
		<div class="gap-desktop"></div>	
	</div>
</html>