<!-- ------------------------------ html ------------------------------ -->

<html>

	<title>EULA ← SLATE + ASH</title>

	<!-- ------------------------------ header ------------------------------ -->

	<div class="header-container" style="background-color: var(--white);">
		<div class="header-logo title">
			<a href="/"><span class="header-logo-plus">+</span>A</a> → EULA
			<br>
			<a href="/"><span class="header-logo-s">S</span></a>
		</div>
		<div class="header-menu-button" id="menu-button">+ MENU</div>
	</div>

	<!-- ------------------------------ main content ------------------------------ -->

	<div style="background-color: var(--mid-grey);">
		<div class="gap-tiny"></div>
		<div class="grid-container">
			<div class="grid-item">
				<div id="subscribe-page-content" class="grid-paragraph paragraph scroll-fade-in">
					END USER LICENSE AGREEMENT
					<br><br>
					By downloading and installing one of our libraries, you agree that the library is licensed, not sold to you. This license is personal and non-transferrable, unless through personal resale if no longer required.
					<br><br>
					As an owner of the library, you may:
					<br><br>
					→ Use the library in your own compositions (including library music) and/or commercial work for clients/media, without any restrictions or additional fees
					<br><br>
					→ Install the library on multiple machines, as long as you are the person who is using the library and you are not sharing your license with others</li>
					<br><br>
					You may not:
					<br><br>
					→ Make copies of this library, as a whole or in part, with the intent to re-distribute, sell or give them away — this includes making available any of the content on a network, e.g. through internet file sharing services
					<br><br>
					→ Re-use or re-package any of the library's content in another virtual instrument or sample library
					<br><br>
					→ Distribute or sell third-party sound packs, presets or other content intended for use within our software
					<br><br>
					Installing the library implies that you agree to the above terms and conditions.
					<br><br>
					REFUNDS
					<br><br>
					Downloaded libraries can't be returned, so we can't provide refunds. We may choose do so at our own discretion, but please be aware that as soon as you've downloaded it, you can't return it.
					<br><br>
					RESPONSIBILITY
					<br><br>
					Using this product and any supplied software is at the licensee’s own risk. Slate + Ash holds no responsibility for any direct or indirect loss arising from any form of use of this product.
					<br><br>
					If you have any questions, concerns or feedback please email us at <a style="color: var(--white)" href="mailto:support@slateandash.com">support@slateandash.com</a>.
				</div>
			</div>
		</div>
		<div class="gap-desktop"></div>
	</div>
</html>